<h1>Listing Positions</h1>


<div class="col-md-8 col-md-offset-2">
<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Added by</th>
      <th>Description</th>
      <th>Votes</th>
      <th>Reports</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @positions.each do |position| %>
      <tr>
        <% if position.name.empty? %>
          <td><%= link_to 'No name', position %></td>
        <% else %>
          <td><%= link_to position.name, position %></td>
        <% end %>
        <td><%= position.email %></td>
        <td><%= position.description %></td>
        <td><span class="badge">
          <% if position.votes.nil? %>0<% else %><%= position.votes %><% end %>
          </span></td>
          <td><span class="label label-danger"><%= position.reports.count %></span></td>
        <% if current_user %>
          <td><%= link_to 'Edit', edit_position_path(position), class: "btn btn-warning btn-xs" %></td>
          <td><%= link_to 'Destroy', position, class:"btn btn-danger btn-xs", method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>
