
<br>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h1><%= @position.name %>
      <%= link_to "<i class='fa fa-globe'></i> Map link".html_safe, "http://fillari.info/#id=#{@position.id}", class:"btn btn-default btn-xs" %>
    </h1>
    <div class="row">
    <h4 class="text-center">
      Longitude <span class="label label-primary">
        <%= @position.lon %></span>
      Latitude <span class="label label-primary">
        <%= @position.lat %></span>
      Votes <span class="label label-success">
        <%= @position.votes or 0 %></span>
      Reports <span class="label label-danger">
        <%= @position.reports.count %></span>
    </h4>
    </div>
    <h4>Description</h4>
    <div class="well">
      <%= @position.description %>
    </div>
  </div>
</div>


<%= link_to 'Edit', edit_position_path(@position), class: "btn btn-warning" %>
<%= link_to 'Back', positions_path, class: "btn btn-default" %>
