<p>
  <strong>Longitude:</strong>
  <%= @position.lon %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @position.lat %>
</p>

<p>
  <strong>Name:</strong>
  <%= @position.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @position.description %>
</p>

<p>
  <strong>Votes:</strong>
  <%= @position.votes %>
</p>

<%= image_tag @position.image.url(:thumb) %>


<%= link_to 'Edit', edit_position_path(@position) %> |
<%= link_to 'Back', positions_path %>
