<!DOCTYPE html>
<html>
<head>
  <title>Coordinates</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <ul class="nav nav-tabs">
    <li role="presentation"><%= link_to 'Positions', positions_path %></li>
    <li role="presentation"><%= link_to 'Reports', reports_path %></li>
  </ul>



<%= yield %>

</body>
</html>
